* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header,
footer{
  padding: 8px 12px;
}

h1, h2{
  margin: 0;
}
h1 {
  text-align: center;
}

.setting_area {
  border: 2px solid;
  border-color: chocolate;
  padding: 7px;
}

section {
  flex: 1;
  display: flex;
  gap: 12px;
  overflow: hidden;
  padding: 0px 12px;
}
.section-tate,
.section-button,
.section-yoko {
  flex: 1;
  display: flex;
  flex-direction: column;
}

button{
  font-size: 12pt;
}

textarea {
  flex: 1;
  resize: none;
}

.section-button{
  flex: 0 0 auto;
  justify-content: center;
}

.for-pc button {
  width: 100px;
  margin: 10px 0px;
  height: 30px;
}

.for-sp button{
  width: 60px;
  margin: 0px 10px;
}

.button-copy{
  width: 100px;
  margin: auto;
}

#btn_clear{
	width: 140px;
  margin-top: 10px;
}

label {
  font-size: 12pt;
}
textarea {
  font-size: 12pt;
  font-family:auto;
}

.font-9pt{
  font-size: 9pt;
}

.for-pc{
  display: contents;
}
.for-sp{
  display: none;
}

@media (max-width: 768px) {
  main {
    height: auto;
  }

  section {
    flex-direction: column;
    overflow: visible;
  }

  .section-button{
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    padding: 8px 0;
  }

  textarea {
    min-height: 12em;
  }

  .for-pc{
    display: none;
  }
  .for-sp{
    display: contents;
  }

  button{
    height: 40px;
  }
}